header 
    .header-content
        .header-menu
            ul
                if user
                    li
                        a(href="/profile")=user.login
                    li
                        a(href="/logout")=c__('logout')
                else
                    li
                        a(href="/login")=c__("login")
                    li
                        a(href="/signin")=c__('signin')