header 
    .header-content
        .header-menu
            ul
                if me
                    li: a(href="/profile")=me.login
                    li: a(href="/logout")=c__('logout')
                    if me.admin
                        li: a.float-right(href="/admin"): span.text-alert Admin
                else
                    li: a(href="/login")=c__("login")
                    li: a(href="/signin")=c__('signin')