mixin formError(field)
    if (flash && flash.formErrors)
        for error in flash.formErrors
            if error.param == field
                span.error!=__(error.msg)
                br

mixin inputError(field)
    -let hasError = false
    if (flash && flash.formErrors)
        for error in flash.formErrors
            if error.param == field
                -hasError = true
    if hasError
        input(class="error")&attributes(attributes)
    else
        input()&attributes(attributes)
    +formError(field)

mixin add_js()
    -var q = attributes['question']
    -delete attributes['question']
    a.add-link(onclick=`javascript:var r = prompt('${q}');if (r!=null) window.location.href="${attributes['href']}?value="+r;return false;`)&attributes(attributes) &plus;

mixin edit()
    a.edit-link(title="Edit")&attributes(attributes) &ofcir;

mixin delete()
    a.delete-link(title="Delete" onclick="javascript:return confirm('"+__("admin.confirm")+"')")&attributes(attributes) &times;

mixin delete_btn()
    a.button.hollow.alert(onclick="javascript:return confirm('"+__("admin.confirm")+"')")&attributes(attributes)
        ="Delete"

mixin placeholder
    .placeholder-link &times;


-function zero(v) {return v < 10 ? '0'+v : v;}

mixin date(d)
    -date = new Date(d)
    =[zero(date.getDate()), zero(date.getMonth()+1), date.getFullYear()].join("/")
    !="&nbsp;"
    =[zero(date.getHours()), zero(date.getMinutes())].join(":")