extends ../../partials/admin/layout

block content
    .grid-x
        .cell.small-12
            h1 GRID
        .cell.small-6
            #grid-admin
        .cell.small-6
            .callout
                h3 Load
                input(type="text" id="bg" value="/img/backgrounds/church1.png")
                button(class="button hollow secondary" id="load_btn") Load
            .callout
                h3 Output
                input(type="text" id="output" value=0)
