extends ../../partials/admin/layout

block content
    .grid-x
        .cell
            h1 New map
        .cell.medium-6
            form(method="POST")
                .callout
                    label Name
                        input(type="text" name="name" autofocus)
                    .grid-x.grid-margin-x
                        .cell.small-6
                            label Width
                                input(type="number" name="width")
                        .cell.small-6
                            label Height
                                input(type="number" name="height")
                input.button.hollow.secondary(type="submit", value="Create")