extends ../../partials/admin/layout

block content
    .grid-x
        .cell
            h1=`Edit ${quest.name}`
        .cell.medium-6
            form(method="POST")
                .callout
                    label Name
                        input(type="text" name="name" autofocus value=quest.name)
                input.button.hollow.secondary(type="submit", value="Save")