header 
    .header-content
        .header-menu
            ul
                li: a(href="/admin/users") Users
                li: a(href="/admin/goals") Goals
                li: a(href="/admin/buildings") Buildings
                li: a(href="/admin/items") Items
                li: a(href="/admin/grid") Grid
                li.float-right: a(href="/") Back