header 
    .header-content
        .header-menu
            ul
                li: a(href="/admin/users") Users
                li: a(href="/admin/goals") Goals
                li.float-right: a(href="/") Back