.grid-x
    //.cell.medium-4
    .cell
        #user-lvl.float-left
        .float-left
            h1 Level 1
            .callout.small
                table.unstriped.hover
                    tr
                        th Register
                        th.success.text-center &check;
                    tr
                        th: a(href="/") Set a profile picture
                        th.text-center &times;
                    tr
                        th Join the tutorial
                        th.text-center &times;
                    tr
                        th Kill an annemi with a bazooka while wearing a wizard hat
                        th.text-center &times;
                    tr
                        th A fifth one
                        th.text-center &times;
.grid-x
    .cell
        a.button.hollow.secondary(href="/") &rtrif; Join the tutorial
        a.button.hollow.secondary(href="/") &rtrif; Join a game
